@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* components/AdminNavbar.css */

.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* Align navbar items horizontally */
    align-items: center; /* Align items vertically */
}

.navbar-brand {
    color: #070606;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #663535;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #446076;
}


@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page {
  /* width: 100%; */
  /* height: 100vh; */
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

main {
  /* padding: 70px 20px 0; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.main-container {
	background: #444e80;
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	width: 440px;
	height: 350px;
    margin-left: 500px;
    margin-top: 200px;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #abafc6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 25%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
}

.info span {
	color: #fff;
}

body {
    /* margin: 0; */
    width: 100vw;
    height: 100vh;
    font: 5vmin "Arial", sans-serif;
  }
  
  .pie {
    margin: 5vmin auto;
    border-radius: 50%;
    width: 50vmin;
    height: 50vmin;
    overflow: hidden;
    margin-right: 620px;
    background: linear-gradient(-21deg, #2196f3 50%, transparent 50%), linear-gradient(to right, #2196f3 50%, #ffc107 50%);
  }
  
  .html {
    margin: 20vmin 0 0 50vmin;
  }
  
  .css {
    margin: 33vmin;
  }